/* .experiences {
  margin: 50px auto;
  border: 3px solid;
  background-color: #ddeff0;
  border-top-style: groove;
  border-bottom-style: groove;
  border-radius: 2rem;
  border-width: 20px;
  border-color: #dcf2f4;
} */
