body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merryweather", serif;
  font-size: 200%;
}

h1 {
  color: #66bfbf;
  font-size: 4rem;
  margin: 100px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  width: 6%;
  color: #11999e;
  margin: 100px auto;
}

p {
  line-height: 1.5;
  margin: 10px 0px;
}

a {
  color: #11999e;
  font-family: "Merryweather", serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}


